<ul class="list-group list-group-flush">
  ${this.#doctorsList.map(feature => uHtml`<li class="list-group-item list-group-item-action">
    <div class="row justify-content-between align-items-center">
      <div class="col-8">
        <h6>${feature.get('nom')} ${feature.get('prenoms')}</h6>
        <span class="fw-light">${feature.get('specialites').replace('<br>', ' · ')}</span><br>
      </div>
      <div class="col-4">
        <span class=${"badge rounded-pill text-bg-" + feature.get('text_color') + " text-wrap w-100"} >
          ${feature.get('availability_fr')}
        </span>
      </div>
  </li>`)}
</ul>
