<div class="modal" id="search-modal" aria-labelledby="search-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <input class="form-control rounded-pill" type="search" id="search-input" name="search-input"
          placeholder="Rechercher" onkeyup="${(e) => this.handleInput(e)}">
      </div>
      <div class="modal-body p-0">
        <div class="list-group list-group-flush" ?hidden="${this.#contentType !== 'SPECIALITIES'}">
          ${this.#specialities.map(speciality => uHtml`<button type="button"
            class="list-group-item list-group-item-action" onclick="${() => this.clickSpecialityHandler(speciality)}">
            ${speciality}
          </button>`)}
        </div>
        <feature-list ?hidden="${this.#contentType !== 'DOCTORS'}"></feature-list>
      </div>
      <div class="modal-footer">
        <button id="close-button" type="button" class="btn btn-primary">Ok</button>
      </div>
    </div>
  </div>
</div>