<div class="modal" id="search-modal" aria-labelledby="search-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <input class="form-control rounded-pill" type="text" id="search-input" name="search-input"
          placeholder="Rechercher">
      </div>
      <div class="modal-body p-0">
        <ul class="list-group list-group-flush" id="search-results">
        </ul>
      </div>
      <div class="modal-footer">
        <button id="close-button" type="button" class="btn btn-primary">Ok</button>
      </div>
    </div>
  </div>
</div>
