<div class="m-3">
  <div class="${'alert alert-' + this.#doctor?.get('text_color')}">${this.#doctor?.get('availability_fr')}</div>
  <div class="row">
    <div class="col-8">
      ${this.#doctor?.get('address')}<br>
      ${this.#doctor?.get('nopostal')} ${this.#doctor?.get('localite')}
    </div>
    <div class="col-4 text-end">
      <a class="btn text-primary" target="_blank"
        href="${'https://www.google.com/maps/search/?api=1&query=' + this.#doctor?.get('address') + ', ' + this.#doctor?.get('nopostal') + ' ' + this.#doctor?.get('localite')}">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
          class="bi bi-sign-turn-left-fill" viewBox="0 0 16 16">
          <path
            d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435ZM7 8.466a.25.25 0 0 1-.41.192L4.23 6.692a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V6h1.5A2.5 2.5 0 0 1 11 8.5V11h-1V8.5A1.5 1.5 0 0 0 8.5 7H7z">
          </path>
        </svg>
      </a>
    </div>
  </div>
  <div class="row mt-2 align-items-center" ?hidden="${this.#doctor?.get('public_phone') === null}">
    <div class="col-8">
      Tél.: ${this.#doctor?.get('public_phone')}
    </div>
    <div class="col-4 text-end">
      <a class="btn text-primary" target="_blank" href="${'tel:' + this.#doctor?.get('public_phone')}">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-telephone"
          viewBox="0 0 16 16">
          <path
            d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
        </svg>
      </a>
    </div>
  </div>
  <hr>

  <section
    ?hidden="${this.#doctor?.get('has_disabled_access') === null && this.#doctor?.get('has_lift') === null && this.#doctor?.get('has_parking') === null}">
    <div class="row mt-2">
      <h5>Accessibilité</h5>
      <div class="col-12" ?hidden="${this.#doctor?.get('has_disabled_access') === null}">
        <div class="text-primary" ?hidden="${this.#doctor?.get('has_disabled_access') !== true}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path
              d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
          </svg> Accessible aux personnes à mobilité réduite
        </div>
        <div class="text-danger" ?hidden="${this.#doctor?.get('has_disabled_access') !== false}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8" />
          </svg> Non accessible aux personnes à mobilité réduite
        </div>
      </div>
      <div class="col-12" ?hidden="${this.#doctor?.get('has_lift') === null}">
        <div class="text-primary" ?hidden="${this.#doctor?.get('has_lift') !== true}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path
              d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
          </svg> Accessible de plein pied ou par ascenseur
        </div>
        <div class="text-danger" ?hidden="${this.#doctor?.get('has_lift') !== false}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8" />
          </svg> Pas d'ascenseur
        </div>
      </div>
      <div class="col-12" ?hidden="${this.#doctor?.get('has_parking') === null}">
        <div class="text-primary" ?hidden="${this.#doctor?.get('has_parking') !== true}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path
              d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
          </svg> Parking à disposition des patients
        </div>
        <div class="text-danger" ?hidden="${this.#doctor?.get('has_parking') !== false}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8" />
          </svg> Pas de parking à disposition pour les patients
        </div>
      </div>
    </div>
    <hr>
  </section>

  <section ?hidden="${this.#doctor?.get('spoken_languages') === null}">
    <div class="row mt-2">
      <h5>Langues parlées</h5>
      <div class="col-12">
        ${this.#doctor?.get('spoken_languages')?.join(',').replaceAll(',', ' · ')}
      </div>
    </div>
    <hr>
  </section>

  <section ?hidden="${this.#doctor?.get('is_rsn_member') === null}">
    <div class="row mt-2">
      <h5>Réseau de soins</h5>
      <div class="col-12">
        <div class="text-primary" ?hidden="${this.#doctor?.get('is_rsn_member') !== true}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path
              d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
          </svg> Membre du Réseau de Soins Neuchâtelois
        </div>
        <div class="text-danger" ?hidden="${this.#doctor?.get('is_rsn_member') !== false}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8" />
          </svg> Ce médecin n'est pas membre du Réseau de Soins Neuchâtelois
        </div>
      </div>
    </div>
    <hr>
  </section>

  <div class="row mt-2 align-items-center">
    <div class="col-8">Suggérer des modifications</div>
    <div class="col-4 text-end">
      <button type="button" class="btn text-primary" onclick="${() => this.callModifiy()}">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-pencil"
          viewBox="0 0 16 16">
          <path
            d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
        </svg>
      </button>
    </div>
  </div>
</div>