<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvas-panel" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header align-items-start">
    <div>
      <h5 class="card-title">${this.#title}</h5>
      <h6 id="title2" class="card-subtitle"></h6>
    </div>
    <button type="button" class="btn-close text-reset" id="offcanvas-close" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small p-0">
    <feature-list ?hidden="${this.#contentType !== 'LIST'}"></feature-list>
    <doctor-details ?hidden="${this.#contentType !== 'DOCTOR'}"></doctor-details>
  </div>
</div>