<div id="about-modal" class="modal fade" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">A propos</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
        <p>L'application de disponibilité des médecins vous est proposée par:</p>
        <ul>
          <li>Le service cantonal de la santé publique (SCSP)</li>
          <li>La société neuchâteloise de médecine (SNM)</li>
          <li>Le système d'information du territoire neuchâtelois (SITN)</li>
        </ul>
        <hr>
        <h4>Légende de la carte</h4>
        <table class="legend">
          <tr>
            <td><img src="icons/map_icon_green.svg" alt="marqueur vert" /></td>
            <td class="px-2">Accepte de nouveaux patients</td>
          </tr>
          <tr>
            <td><img src="icons/map_icon_pink.svg" alt="marqueur rose" /></td>
            <td class="px-2">Accepte de nouveaux patients sous conditions</td>
          </tr>
          <tr>
            <td><img src="icons/map_icon_red.svg" alt="marqueur rouge" /></td>
            <td class="px-2">Ne prend plus de nouveaux patients</td>
          </tr>
          <tr>
            <td><img src="icons/map_icon_white.svg" alt="marqueur blanc" /></td>
            <td class="px-2">Disponibilité inconnue, information manquante</td>
          </tr>
        </table>
        <hr>
        <h4>Aide</h4>
        <h5>Filtrer la carte</h5>
        <p>Il est possible de filtrer la carte en cliquant sur le bouton <span
            class="badge rounded-pill text-bg-primary">Filtrer</span>.<br>
          Si un filtre est actif, le bouton <span class="badge rounded-pill text-bg-danger">Filtrer</span> devriendra
          rouge</p>
        <h5>Recherche</h5>
        <p>Le champ <em>Recherche</em> vous permet de sélectionner une spécialité parmi une liste préconfigurée. En
          sélectionnant "Pédiatre", tous le pédiatres seront affichés sur la carte. Vous pouvez également effectuer une
          recherche par nom, prénom du médecin ainsi que par localité.</p>
        <p>Les résultats de la recherche et les résultats d'un clic sur la carte sont groupés par disponibilité et triés
          par ordre alphabétique</p>
        <h5>Aidez-nous à maintenir ces informations à jour!</h5>
        <p>Votre aide est précieuse, c'est pourquoi vous avez la possibilité de participer à l'amélioration de cette carte.</p>
        <p><strong>En tant que médecin</strong>, vous pouvez cliquer sur le bouton
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-pencil"
            viewBox="0 0 16 16">
            <path
              d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
          </svg> dans la section "Suggérer des modifications" présente sur votre fiche. Sélectionnez ensuite l'option
          "Modifier mes informations" et suivez les instructions.
        </p>
        <p><strong>En tant que patient</strong>, vous pouvez cliquer sur le bouton
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-pencil"
            viewBox="0 0 16 16">
            <path
              d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
          </svg> dans la section "Suggérer des modifications" présente sur la fiche du médecin dont vous souhaitez
          annoncer des modifications. Cliquez ensuite sur le bouton "Suggérer des modifications". Suivez les
          instructions et envoyez votre demande. Celle-ci sera ensuite analysée et traitée par le Service cantonal de la
          santé publique.
        </p>
      </div>
    </div>
  </div>
</div>