<div id="filter-modal" class="modal fade" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Filtrer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="filterCheckBox">
            <label class="form-check-label" for="filterCheckBox">
              Ne montrer que les médecins acceptant les nouveaux patients
            </label>
          </div>          
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>