@import url('https://sitn.ne.ch/sitnstatic/sitn-bootstrap@v5.2.3/sitn-bootstrap.css');

html,
body {
  font-family: sans-serif;
}

custom-loading, sitn-map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

custom-loading {
  z-index: 1;
  pointer-events: none;
}

search-bar, search-modal, result-panel {
  position: relative;
  z-index: 10;
}

.desktop-container {
  max-width: 540px;
  margin-right: 0;
  margin-left: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

/* Bandeau prototype */
#prototype {
  position: fixed;
  width: 300px;
  height: 40px;
  background: #d62f2f;
  bottom: 50px;
  left: -80px;
  text-align: center;
  font-size: 1.2em;
  font-family: "Gill Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 41px;
  transform: rotate(45deg);
  z-index: 9;
}

#prototype > a {
  color: white;
}

#prototype > a::after {
  content: "PROTOTYPE";
}

/* About button */
#about-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 9;
}

/* Filter button */
#filter-button {
  position: relative;
  margin-top: 1rem;
  z-index: 9;
}