@import "~ol/ol.css";

$primary: #26a59a;
$secondary: #b9cfcc;
$success: #146056;
$warning: #f6c8c8;
$danger: #e24848;
$info: #bee4e1;
$min-contrast-ratio: 3;
$offcanvas-vertical-height: 70vh;

@import "~bootstrap/scss/bootstrap";

html,
body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.fake-input-placeholder {
  color: $gray-600;
}

.fake-input {
  text-align: left;
}

.search {
  top: 0em;
  padding: 1em;
}

.filter {
  padding: 1em;
}

.reset-search-input {
  top: 0em;
  right: 1em;
  padding: 1em;
  position: absolute;
  z-index: 100;
  line-height: 2.4;
}

.above-map {
  position: relative;
  z-index: 10;
}

/* Bandeau prototype */
#prototype {
  position: fixed;
  width: 300px;
  height: 40px;
  background: #d62f2f;
  bottom: 50px;
  left: -80px;
  text-align: center;
  font-size: 1.2em;
  font-family: "Gill Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 41px;
  transform: rotate(45deg);
  z-index: 2000;
}

#prototype > a {
  color: white;
}

