html,
body {
  font-family: sans-serif;
}

#initially-hidden {
  visibility: hidden;
}

custom-loading, sitn-map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

custom-loading {
  z-index: 1;
  pointer-events: none;
}

sitn-searchbar, sitn-searchmodal {
  position: relative;
  z-index: 10;
}

.desktop-container {
  max-width: 540px;
  margin-right: 0;
  margin-left: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
