@import url('https://sitn.ne.ch/sitnstatic/sitn-bootstrap@v5.2.3/sitn-bootstrap.css');

html,
body {
  font-family: sans-serif;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  font-size: large;
  text-align: center;
  padding: 1em;
  background: #F3D60B;
}

@media screen and (max-width: 1380px) {
  div.banner {
    top: auto;
    bottom: 0;
  }
}

custom-loading, sitn-map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

custom-loading {
  z-index: 1;
  pointer-events: none;
  touch-action: none;
}

search-bar, search-modal, result-panel {
  position: relative;
  display: block;
  z-index: 10;
}

.desktop-container {
  max-width: 540px;
  margin-right: 0;
  margin-left: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

/* About button */
#about-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 9;
}

/* Filter button */
#filter-button {
  position: relative;
  margin-top: 1rem;
  z-index: 9;
}

@media screen and (max-width: 600px) {
  #about-button {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 1rem;
    z-index: 9;
  }
}

@media screen and (min-width: 540px) {
  div.modal-dialog.modal-fullscreen {
    width: auto;
    max-width: 540px;
  }
}