<div id="edit-modal" class="modal fade" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Suggérer des modifications</h4>
        <button id="close-button" type="button" class="btn-close" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
        <div ?hidden="${this.#modalPage !== 'MAIN'}">
          <p>Je suis médecin et je souhaite modifier les informations me concernant:</p>
          <button class="btn btn-outline-primary" type="button" onclick="${() => this.showPage('DOCTOR')}">Modifier mes
            informations</button>
          <hr>
          <p>Je suis un utilisateur et je souhaite suggérer des modifications:</p>
          <button class="btn btn-outline-primary" type="button" onclick="${() => this.showPage('USER')}">Suggérer des
            modifications</button>
        </div>
        <div ?hidden="${this.#modalPage !== 'DOCTOR'}">
          <form id="submit-form">
            <div class="mb-3">
              <label for="input-email" class="form-label">Veuillez saisir le courriel correspondant à votre cabinet. Un
                lien vous sera envoyé pour mettre à jour vos
                informations.</label>
              <input type="email" class="form-control" id="input-email" required>
            </div>
            <button class="btn btn-primary" type="button" id="submit">Envoyer</button>
          </form>
        </div>
        <div ?hidden="${this.#modalPage !== 'USER'}">
          <form id="suggest-form">
            <div class="mb-3">
              <label for="comments" class="form-label">Modifier la disponibilité:</label>
              <select id="availability" name="availability" class="form-select" aria-label="Dispoibilité du médecin">
                <option value="" selected>Je ne souhaite pas modifier la disponibilité</option>
                <option value="Available">
                  Accepte de nouveaux patients
                </option>
                <option value="Available with conditions">
                  Accepte de nouveaux patients sous conditions
                </option>
                <option value="Not available">
                  Ne prend plus de nouveaux patients
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label for="comments" class="form-label">Autres modifications à apporter ou remarques:</label>
              <textarea name="comments" class="form-control" id="comments" rows="3"></textarea>
            </div>
            <button class="btn btn-primary" type="button" id="suggest">Envoyer</button>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button id="cancel-button" type="button" class="btn btn-secondary">Annuler</button>
      </div>
    </div>
  </div>
</div>
